* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

body {
    background-color: moccasin;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.d_none {
    display: none;
}

.phone__wrapper {
    position: relative;
}

.phone {
    width: 428px;
    height: 852px;
    border-radius: 70px;
    background-color: #3f3f3f;
    padding: 58px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.phone * {
    z-index: 999;
}

.phone__wallpaper {
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    width: 300%;
    height: 300%;
    transform: rotate(17.588deg);
    align-items: center;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.25);
    filter: blur(36px);
    background: url('./assets/images/61 - Travis Scott,HVME - Goosebumps - Remix.jpeg');
    opacity: .95;
    z-index: 3;
    transition: all 500ms linear;
}

.phone__volume {
    position: absolute;
    top: 190px;
    left: -8px;
}


.phone__clock {
    .phone__clock__date {
        color: rgba(255, 255, 255, 0.80);
        text-align: center;
        font-family: SF Pro Display, serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .phone__clock__time {
        color: rgba(255, 255, 255, 0.80);
        text-align: center;
        font-family: SF Compact Rounded, serif;
        font-size: 108px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.volume__button {
    width: 30px;
    height: 65px;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 10px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.player__header {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.player__cover {
    padding: 10px 15px;
}

.player__cover img {
    border-radius: 8px;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
}


.player__audio {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin-top: 19px;
    padding: 13px 18px;

    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.player__info__name {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: SF Pro, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: normal;
}

.player__info__author {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: SF Pro, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.timeline__wrapper {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.timeline {
    width: 100%;
    background-color: rgba(1, 1, 1, .4);
    height: 7px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.progress {
    top: 0;
    left: 0;
    position: absolute;
    height: 7px;
    border-radius: 3px;
    background-color: white;
}

.current {
    text-align: left;
}

.length {
    text-align: right;
}

.toggle_play {
    height: 32px;
    width: 32px;
}

.toggle_play__container {
    display: flex;
    gap: 34px;
    justify-content: center;
}

.toggle_play__container .next {
    transform: rotate(180deg);
}

.phone__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 31px 0;

}